body{
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.center{
    text-align: center;
}

.box{
    border: 1px solid rgb(232, 228, 228);
    width: 340px;
    padding: 50px;
    margin: 100px auto;
    border-radius: 16px;
}
.text{
    font-size: 14px;
    color: rgb(126, 121, 121);
}
.box-img{
    height: 50px;
}
.field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
    background-color: rgb(230, 228, 228);
    padding: 8px;
    border-radius: 14px;
}
.field1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 14px;
}
.field-icon{
    display: flex;
    gap: 20px;
    align-items: center;
}
.field-img{
    height: 30px;
}
.field-img1{
    height: 20px;
}
.description{
    font-size: 12px;
    margin-bottom: 40px;
    color: rgb(153, 152, 152);
}
.payment-field {
  width: 85%;
  height: 55px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 0 22px;
  background: #fff;
  border-radius: 10px;
  border: 2px solid #bba7ff;
  box-shadow: 0 0 0 5px rgba(178, 141, 255, 0.25);
}

/* Icon */
.card-icon {
  height: 28px;
  color: #6b6b6b;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Inputs */
.payment-field input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 12px;
  color: #222;
  width: 100%;
}

/* Placeholder style */
.payment-field input::placeholder {
  color: #9b9b9b;
  font-weight: 500;
}

/* Small fields like MM/YY and CVC */
.payment-field input.small {
  width: 60px;
  text-align: right;
}

.freetrial-btn{
    width: 100%;
    background-color: rgb(109, 54, 229);
    border: none;
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
}

.secure{
    margin-top: 25px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: rgb(156, 154, 154);
    font-size: 13px;
}
.secure-img{
    height: 20px;
}

.fields{
  width: 720px;
  max-width: 100%;
}
.field-company{
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: rgb(171, 168, 168);
    font-weight: 400;
}
.company-name{
    width: 100%;
    padding: 16px 30px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 20px;
}
.Industry input{
    width: 100%;
    padding: 16px 30px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 20px;
}

.Industry-img{
    width: 20px;
}